body {
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    color: black;
    line-height: 1.6;
}

nav {
    background: white;
    padding: 15px;
    border-bottom: 3px solid #444;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    padding: 0 15px;
}

nav a:hover {
    color: #aaa;
}

.container {
    width: 100%;
    margin: 0;
    background: white;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: black;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

.map-container {
    text-align: center;
    margin-top: 20px;
}

.map-container img {
    width: 80%;
    max-width: 800px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #f9f9f9;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background: #ddd;
}

input[type="text"], input[type="email"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-family: serif;
}

input[type="submit"] {
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #d3d3d3;
}

ol {
    padding-left: 20px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

ol li {
    margin: 5px 0;
}